*.egg*
build/
*.pyc
*.swp
.venv
.stestr/
.tox

# pbr-generated stuff
/AUTHORS
/ChangeLog
/RELEASENOTES.rst
/releasenotes/notes/reno.cache

# dynamically generated documentation
doc/source/reference/traits.rst
